{% extends "loyout.html" %}

{% block body %}




        <div style="min-height: 400px;" class="col-md-12">
          <h3>Hakkımızda</h3>
          <hr>
          <h4>Beyza Betül ERSİN </h4>
          <div class="media">
            <img class="mr-4" src="http://via.placeholder.com/100x100" alt="Yazar">
            <div class="media-body">
              1997 yılında Balıkesir’de doğdu. İlk, orta ve lise öğrenimini Balıkesir’de tamamladı.
               2016 yılında girdiği Kocaeli Mühendislik Fakültesi Bilgisayar Mühendisliği Bölümü’nden
                2020 yılında Bilgisayar Mühendisi olarak mezun olacak.</p>
    
            </div>
          </div>
<br>
          <hr>
          <h4>Ümmügülsüm TABAN </h4>
          <div class="media">
            <img class="mr-4" src="http://via.placeholder.com/100x100" alt="Yazar">
            <div class="media-body">
              1997 yılında Trabzon’da doğdu. İlk, orta ve lise öğrenimini Trabzon’da tamamladı. 
              2016 yılında girdiği Kocaeli Mühendislik Fakültesi Bilgisayar Mühendisliği Bölümü’nden
               2020 yılında Bilgisayar Mühendisi olarak mezun olacak.
            </div>
          </div>



        </div>






      



{% endblock  %}